html {
    align-items: center;
    margin-left: 15px;
}

body {
    
}

.title {
    font-family: fantasy;
    outline-width: medium;
    color: lightpink;
    text-align: center;
}

fieldset {
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#newGameButton {
    transition-duration: 0.15s;
    
}

#newGameButton:hover {
    background-color: lightpink;
    color: white;
}

#minesweeperTable {
    margin-top: 20px;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
}

.markedMine {
    border: 1px solid black; 
    background: black;
    width: 25px;
}

#minesweeperTable td {
    border: 1px solid black;
    background-color: lightpink;
    width: 25px;
}

#minesweeperTable tr {
    height: 25px;
}

fieldset {
    border-color: lightpink;
}

#minesLeft {
    text-align: center;
}

#timer {
    text-align: center;
}

#highscore {
    align-items: center;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#highscore ol {
    background: #ff9999;
    padding: 20px;
}

#highscore ol li {
    background: #ffe5e5;
    padding: 5px;
    margin-left: 30px;
    margin: 5px;
}

#highscoreTitle {
    font-family: cursive;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 20px;
    color: #ff9999;
    text-align: center;
}